<div class="container-flex p-4">
    <div class="row justify-content-md-center">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-center card-aquastyle">
                <div class="card-header text-uppercase">
                    <h3>Registro</h3>
                </div>
                <div class="card-body">
                    <form action="/signup" method="POST">
                        <div class="form-group">
                            <label htmlFor="txtnombre">Ingrese su Nombre Completo:</label>
                            <input type="text" name="fullname" id="txtnombre" placeholder="Nombre" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <label htmlFor="txtuser">Ingrese un usuario:</label>
                            <input type="text" name="username" id="txtuser" placeholder="Usuario" class="form-control">
                        </div>
                        <div class="form-group">
                            <label htmlFor="txtpass">Ingrese una contraseña:</label>
                            <input type="password" name="password" id="txtpass" placeholder="Contraseña" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info btn-block">
                                Registrarse
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>